/generated-tests/
/predictions/
/spark_docker/.idea/
/__pycache__/
/.idea/
/archive/*
tempCaretFolder/predictions/
atoml_docker/debug_atoml/
/external_data/*
!external_data/raw_datasets/

_build/

algorithm-descriptions/clear_folder/
